// ----- Colors ----- //
$primary: #080809;
$secondary: #fbf5f0;
$accent: #fdf9f5;
$brand-blue: #0033cc;
$brand-dark-blue: #0942c9;
$brand-gray: #6c757d;
$brand-light-gray: #f8f9fa;
$brand-dark-gray: #495157;
$border-color: #d8d8d9;

$white: #fff;
$black: #000;

$main-color: $primary;
$body-color: $primary;
$sg-link-color: $brand-blue;

// ----- Fonts ----- //
$heading-font: Lato, Arial, sans-serif;
$body-font: Roboto, Arial, sans-serif;
