// ----- Colors ----- //
$primary: #272a35;
$secondary: #20cba2;
$accent: #f2f9ff;
$brand-blue: #0076ec;
$brand-dark-blue: #0942c9;
$brand-gray: #6c757d;
$brand-light-gray: #f8f9fa;
$brand-dark-gray: #495157;
$border-color: #dfe3e8;

$white: #fff;
$black: #000;

$main-color: $primary;
$body-color: $primary;
$sg-link-color: $brand-blue;

// ----- Fonts ----- //
$heading-font: Lato, Arial, sans-serif;
$body-font: Roboto, Arial, sans-serif;
